.ggg{
    width: 250px;
}

.vv{
    width: 120px;
    border-radius: 10px;
    /* display: block; */
    margin-left: auto;
}

.g{
    border-radius: 5px;
}

.b{
    width: 400px;
}
.ss{
    margin: 5px;
}

